* {
    margin: 0;
    padding: 0;
}

/*nav and footer */

.nav-wrapper {
    background-color: #152B39;
}

.page-footer {
    background-color: #152B39;
    margin-top: 100px;
}

/* logo styling */

.little {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 0.5em;
    color: white;
}

.page-title {
    margin: 20px 0;
}

/* Login and register page  */

#main-login-page {
    background-image: url("https://images.pexels.com/photos/357743/pexels-photo-357743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0 0 0;
}

#main-login-page h1 {
    color: #f9fbff;
    margin-bottom: 40px;

}

#main-login-page p {
    color: #f9fbff;
    font-size: 1.2em;
}

.main-button {
    margin-top: 10px;
    color: white;
    border: 2px solid white;
}

/* main page */

.flow-text p {
    font-size: 0.8em;
}

.label-icon {
    color: black;
}

.recipe_image_card {
    max-height: 300px !important;
    width: 100%;
}
#search_recipes {
    margin-bottom: 10px;
}

/* Recipe pages */

.recipe-button {
    margin-top: 30px;
}

.recipes_header {
    margin: 5px 0 0 20px;
}

.recipe_title {
    font-size: 1.5em;
    text-align: center;

}

.recipe_ul {
    margin-top: 10px;
    border: 1px solid black;
    padding-bottom: 20px !important;
}

.slider {
    margin-top: 10px;
    height: 390px !important;
}

.slider .indicators .indicator-item {
    display: none;
}

.slider .slides li .caption {
    background-color: cadetblue;
    color: black;
    position: absolute;
    top: 5%;
    left: 34%;
    width: 30%;
    border-radius: 12px;
    opacity: 0;
}

.recipe_list h3 {
    margin-top: 10px;
}
.view_checkbox span {
    color:black;
    margin: 4px 0;
}
.tick:checked ~ span {
    text-decoration: line-through;
    opacity: .5;
}
.recipe_image_card {
    max-height: 350px !important;
}

.recipe-input {
    border-bottom: none !important;
}

.filtered {
    margin-top: 10px;
}

.search_text {
    margin: 0;
}

.input-field.col label {
    font-weight: 400;
    color: black;
}

/* cuisines */

.btn-cuisine {
    margin-left: 10px;
}

.login-wrapper {
    width: 500px;
    margin: auto;
}

.login-page {
    width: auto;
    text-align: center;
}

.login-button {
    margin-top: 20px;
}

.login-signup {
    margin-top: 20px;
}

.switch {
    margin-top: 20px;
}

.rating {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 2;
    font-size: 1rem !important;

}
.review_rating {
    margin-right: 30px;
}
.advanced-search a {
    color: white;
}
.quick-search {
    margin: 0 !important;
}