{% extends "base.html" %} {% block content %}
<h3 class="page-title">Add your own recipe</h3>
<div class="row">
    <form method="POST" enctype="multipart/form-data" class="col s12 recipe-form">
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                <label for="icon_prefix">Name of your dish?</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">assignment</i>
                <input id="cuisine" name="cuisine" type="text" class="validate" required>
                <label for="icon_prefix">Dish Cuisine?</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">group</i>
                <input id="serves" name="serves" type="number" class="validate" required>
                <label for="icon_prefix">Total serving</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">whatshot</i>
                <input id="serves" name="temp" type="number" class="validate" required>
                <label for="icon_prefix">Oven Tempeture</label>
                <span class="helper-text">example = 180</span>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">whatshot</i>
                <input id="cook_time" name="cook_time" type="number" class="validate" required>
                <label for="icon_prefix">Cooking time?</label>
                <span class="helper-text">In minutes</span>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">timelapse</i>
                <input id="prep_time" name="prep_time" type="number" class="validate" required>
                <label for="icon_prefix">Preperation time?</label>
                <span class="helper-text">In minutes</span>
            </div>
        </div>
        <div class="row">
            <div id="list" class="input-field col s3 ">
                 <i class="material-icons prefix">subject</i>
                 <label for="icon_prefix">Ingredients?</label>
                <input type="hidden" name="ingredients" value="">
                <input id="ingredients" name="ingredient" type="text" class="validate">
                <a id="ingredients-btn" class="waves-effect waves-light btn-small ingredients-btn" onclick="addIngredient()"><i class="material-icons left">add</i>Add ingredient</a>

            </div>
            <div id="method_list" class="input-field col s9">
                <i class="material-icons prefix">subject</i>
                <input type="hidden" name="methods" value="">
                <input id="method" name="method" type="text" class="validate">
                <label for="icon_prefix">Stages for cooking your dish?</label>
                <a id="method-btn" class="waves-effect waves-light btn-small" onclick="addMethod()"><i class="material-icons left">add</i>add method</a>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name=file>
                </div>
                <div class="file-path-wrapper">
                    <label>Upload a photo for your dish</label>
                    <input class="file-path validate" type="text" value="">
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light recipe-button" type="submit">Add Recipe
                <i class="material-icons right prefix">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock%}
