{% extends "base.html" %} {% block content %}
<h3 class="page-title">Add your own recipe</h3>
<div class="row">
    <form method="POST" enctype=multipart/form-data class="col s12 recipe-form">
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                <label for="icon_prefix">Name of your dish?</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">assignment</i>
                <input id="cuisine" name="cuisine" type="text" class="validate" required>
                <label for="icon_prefix">What Cuisine is your dish?</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">group</i>
                <input id="serves" name="serves" type="number" class="validate" required>
                <label for="icon_prefix">Serves</label>
            </div>
        </div>
        <div class="row">

            <div class="input-field col s4">
                <i class="material-icons prefix">whatshot</i>
                <input id="serves" name="temp" type="number" class="validate" required>
                <label for="icon_prefix">Oven Tempeture</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">whatshot</i>
                <input id="cook_time" name="cook_time" type="number" class="validate" required>
                <label for="icon_prefix">Amount of cooking time? (mins)</label>
            </div>
            <div class="input-field col s4">
                <i class="material-icons prefix">timelapse</i>
                <input id="prep_time" name="prep_time" type="number" class="validate" required>
                <label for="icon_prefix">Preparation time? (mins)</label>
            </div>
        </div>
        <div class="row">
            <ul id="ingredientsList">
                <li>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">subject</i>
                        <input id="ingredients" name="ingredients" type="text" class="validate" required>
                        <label for="icon_prefix">Ingredients</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="ingredients" type="text" class="validate" required>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <button id="ingredients-btn" class="btn waves-effect waves-light">Add ingredient<i class="material-icons right">add</i></button>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <ul>
                    <li>
                        <i class="material-icons prefix">subject</i>
                        <input id="method" name="method" type="text" class="validate" required>
                        <label for="icon_prefix">Method</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name=file>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" value="Upload" required>
                </div>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light recipe-button" type="submit">Add Recipe
                <i class="material-icons right prefix">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock%}
