{% extends "base.html" %} {% block content %}
<h4 class="page-title">Cuisine</h4>
<div class="row">
{% for i in cuisines %}
<div class="col s4">
        <div class="card small blue-grey darken-1">
            <div class="card-image">
            <img src="/static/images/{{ i.image }}" alt="awaiting images">
        </div>
        <div class="card-content white-text">
            <span class="card-title">{{ i.CUISINE }}</span>
        </div>
        <div class="card-action">
           <a href="/view_cuisine/{{ i.cuisine }}" class="waves-effect waves-light btn btn_small">View Recipes</a>

        </div>
    </div>
</div>  
{% endfor %}

{% endblock %}
