{% extends "base.html" %} {% block content %}

<h3 class="page-title">EDIT <small>{{ recipe_details.recipe_name }}</small> </h3>
<div class="row">
    <form method="POST" enctype=multipart/form-data class="col s12 recipe-form">
        <div class="row">
            <div class="input-field col l4 s4 ">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{ recipe_details.recipe_name}}">
                <label for="recipe_name">Enter recipe name</label>
            </div>
            <div class="input-field col l4 s4">
                <i class="material-icons prefix">assignment</i>
                <input id="cuisine" name="cuisine" type="text" class="validate" value="{{ recipe_details.cuisine}}">
                <label for="cuisine">Enter cuisine</label>
            </div>
            <div class="input-field col l4 s4">
                <i class="material-icons prefix">group</i>
                <input id="serves" name="serves" type="number" class="validate" value="{{ recipe_details.serves }}">
                <label for="serves">Serves?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l4 s4">
                <i class="material-icons prefix">whatshot</i>
                <input id="temp" name="temp" type="number" class="validate" value="{{ recipe_details.temp }}">
                <label for="temp">Oven Temp / Gas mark</label>
                <span class="helper-text">example = 60 / 5</span>
            </div>
            <div class="input-field col l4 s4">
                <i class="material-icons prefix">whatshot</i>
                <input id="cook_time" name="cook_time" type="number" class="validate" value="{{ recipe_details.time }}">
                <span class="helper-text">example = 60 mins</span>
                <label for="cook_time">Amount of cooking time?</label>
            </div>
            <div class="input-field col l4 s4">
                <i class="material-icons prefix">timelapse</i>
                <input id="prep_time" name="prep_time" type="number" class="validate" value="{{ recipe_details.prep }}">
                <label for="prep_time">Preparation time?</label>
                <span class="helper-text">example = 60 mins</span>

            </div>
        </div>
        <div  class="row">
            <div id="list" class="input-field col l3 s12">
                <label for="ingredients">Ingredients</label>
                <input type="hidden" name="ingredients" value="">
                <i class="material-icons prefix">subject</i> 
                {% for ingredient in ingredients %}
                <input id="ingredients" name="ingredient" type="text" class="validate" value="{{ ingredient.ingredient }}"> 
                {% endfor %}
                 <a id="ingredients-btn" class="waves-effect waves-light btn-small ingredients-btn" onclick="addIngredient()">
                    <i class="material-icons left">add</i>
                    Add ingredient
                </a>
            </div>
            <div id="method_list" class="input-field col l9 s12">
                <label for="methods">Method</label>
                <i class="material-icons prefix">subject</i> 
                {% for methods in method %}
                <input type="hidden" name="methods" value="">
                <input id="method" name="method" type="text" class="validate" value="{{ methods }}"> 
                {% endfor %}
                 <a id="method-btn" class="waves-effect waves-light btn-small" onclick="addMethod()">
                    <i class="material-icons left">add</i>add method
                </a>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" name=file>
                </div>
                <div class="file-path-wrapper">
                    <label>Please upload a photo for your dish</label>
                    <input class="file-path validate" name="image" type="text" value="{{ recipe_details.image }}">
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light recipe-button" type="submit">Update Recipe
                <i class="material-icons right prefix">playlist_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock%}
