{% extends "base.html" %} {% block content %}

<h3 class="page-title">Filter Results</h3>

<div>
    <form method="POST" id="search_recipes">
        <div class="row">
            <div class="input-field col s4">
                <input placeholder="Search by Recipe?" id="recipe_name" name="recipe_name" type="text" class="validate">
                <label for="recipe_name">Recipe Name?</label>
            </div>
            <div class="input-field col s4">
                <input placeholder="Search by Cuisine or Course" id="cuisine" name="cuisine" type="text" class="validate">
                <label for="Cuisine">Cuisine / Course?</label>
            </div>
            <div class="input-field col s4">
                <input placeholder="Search by Ingredient" id="ingredient" name="ingredient" type="text" class="validate">
                <label for="ingredient">Ingredient?</label>
            </div>
        </div>
        <div class="row">
            <p class="range-field col l4 s4">
                <label>Amount of prep time? (mins)</label>
                <input type="range" id="prep_time" name="prep_time" min="5" max="180" value="5" />
            </p>
            <p class="range-field col l4 s4">
                <label>Rating</label>
                <input type="range" id="rating" name="rating" min="1" max="5" value="1" />
            </p>
            <p class="range-field col l4 s4">
                <label>Servings</label>
                <input type="range" id="serves" name="serves" min="1" max="20" value="1" />
            </p>
        </div>
        <button class="btn waves-effect waves-light filter_button" type="submit" name="action">
            Search
            <i class="material-icons right">search</i>
        </button>
        <a href="{{ url_for('filter_recipes') }}" class="waves-effect waves-light grey btn ">
            Reset
            <i class="material-icons right">clear</i>
        </a>
    </form>
</div>

<div class="row">
    {% for all in all_recipes %}
    <div class="row">
      <div class="col s7 push-s5">
        <span class="flow-text">
            <p>Recipe : {{ all.recipe_name.capitalize() }}</p>
            <p>Cuisine : {{ all.cuisine.capitalize() }}</p>
            <p>Preparation time: {{ all.prep }} mins</p>
            <p>Serves: {{ all.serves }} people</p>
            <p>Cooking time: {{ all.time }} </p>
            <p>Published by: {{ all.name }}</p>
            <p>Published by: {{ all.date_entered }}</p>
            <a href="/view_recipe/{{ all.recipe_id }}" class="waves-effect waves-light btn ">View</a>
            <a href="/quick_add/{{ all.recipe_id }}" class="waves-effect blue btn ">Add</a>
        </span>
        </div>
        <div class="col s5 pull-s7">
            <span class="flow-text">
                <img style="height: 300px;" class="responsive-img recipe_image_card" src="/static/images/{{ all.image }}">
         </div>
         
    {% endfor %}
</div>
{% endblock %}
