{% extends "base.html" %} {% block content %}

<h4> Welcome {{ session.name }}</h4>

<!---------- QUICK SEARCH AND ADVANCED BUTTONS --------->

<div class="row">
    <div class="input-field search_text inline col s3 l4 ">
        <input id="search" type="text" class="validate">
        <label for="search">Search By Recipe</label>
    </div>
    <div>
        <p class="col s1 l1">OR</p>
    </div>
    <div class="col s3 l4">
        <select id="select_cuisine">
        <option value="" disabled selected>By Cuisine</option>
        {% for cuisine in cuisines %}
        <option value="{{ cuisine.cuisine}}">{{ cuisine.cuisine.capitalize() }}</option>
        {% endfor %}
        </select>   
    </div>
     <button id="recipe_search_button" class="btn waves-effect waves-light" type="submit" name="action" onclick="recipeSearch()">
        <i class="material-icons right quick-search">search</i>
    </button>
</div>

<div class="row">
    <button class="btn waves-effect blue advanced-search">
        <a href={{ url_for('filter_recipes') }}>Advanced Search</a>
        <i class="material-icons right">search</i>
    </button>
    <button id="search_reset" class="btn waves-effect waves-light grey" type="reset" name="reset" onclick="recipeReset()">
        Reset 
        <i class="material-icons right">clear</i>
    </button>
</div>

<!--------- DISPLAYING RECIPE CARDS ---------->

<div class="row recipe_wrapper">
    {% for recipe in all_recipes %}
    <div class="row recipe-display">
      <div class="col s7 push-s5">
        <span class="flow-text">
            <p class="recipes_title">Recipe : {{ recipe.recipe_name.capitalize() }}</p>
            <p class="recipes_cuisine">Cuisine : {{ recipe.cuisine.capitalize() }}</p>
            <p>Preparation time: {{ recipe.prep }} mins</p>
            <p>Serves: {{ recipe.serves }} people</p>
            <p>Cooking time: {{ recipe.time }} </p>
            <p>Published by: {{ recipe.name }}</p>
            <p>Published by: {{ recipe.date_entered }}</p>
            <a href="/view_recipe/{{ recipe.recipe_id }}" class="waves-effect waves-light btn ">View</a>
            <a href="/quick_add/{{ recipe.recipe_id }}" class="waves-effect blue btn ">Add</a>
        </span>
        </div>
        <div class="col s5 pull-s7">
            <span class="flow-text">
                <img class="responsive-img recipe_image_card" src="/static/images/{{ recipe.image }}">
                {% for data in rating %}
                    {% for ratings in data %}
                        {% if ratings["recipe_id"] == recipe.recipe_id %}
                            <span class="new badge rating" data-badge-caption="Rating">
                                {{ ratings["AVG(rating)"]|round(1, 'floor') }} / 5
                            </span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}   
              </div>
         </div>
    {% endfor %}
</div>

{% endblock %}
