{% extends "base.html" %} {% block content %}

<h4> Welcome {{ session.name }}</h4>
<div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="row recipe_wrapper">
    {% for recipe in all_recipes %}
    <div class="card col xl4 l6 s6 recipe-display hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator recipe_image_card" src="/static/images/{{ recipe.image }}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name.upper() }}<i class="material-icons right">more_vert</i></span>
            <a href="/view_recipe/{{ recipe.recipe_id }}" class="waves-effect waves-light btn ">View Recipe</a>
            <a href="/quick_add/{{ recipe.recipe_id }}" class="waves-effect blue btn ">Add Recipe</a>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">close</i></span>
            <p>Preparation time: {{ recipe.prep }} mins</p>
            <p>Serves: {{ recipe.serves }} people</p>
            <p>Cooking time: {{ recipe.time }} </p>
        </div>
        <p>Published by {{ recipe.name }}</p>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>RATE ME!</h4>
            <form action="#">
                <p class="range-field">
                    <input type="range" name="rate-recipe" min="1" max="5" oninput="showVal(this.value)" onchange="showVal(this.value)" />
                </p>
            </form>
        </div>
        <div class="modal-footer">
            <a href="/rate_recipe/{{ recipe.id}}" class="modal-close waves-effect waves-green btn-flat">Rate Me!</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
