{% extends "base.html" %} {% block content %}

<h4> Welcome {{ session.name }}</h4>
 
<div class="row">
    <div class="input-field search_text inline col s3 l4 ">
        <input id="search" type="text" class="validate">
        <label for="search">Search By Recipe</label>
    </div>
    <div>
        <p class="col s1 l1">OR</p>
    </div>
    <div class="col s3 l4">
        <select id="select_cuisine">
        <option value="" disabled selected>By Cuisine</option>
        {% for cuisine in cuisines %}
        <option value="{{ cuisine.cuisine}}">{{ cuisine.cuisine.capitalize() }}</option>
        {% endfor %}
        </select>   
    </div>
</div>
<div class="row">
    <a href={{ url_for('filter_recipes') }}>Advanced Search</a>
</div>

<div class="row">
    <button id="recipe_search_button" class="btn waves-effect waves-light" type="submit" name="action" onclick="recipeSearch()">
Search
<i class="material-icons right">search</i>
</button>
    <button id="search_reset" class="btn waves-effect waves-light grey" type="reset" name="reset" onclick="recipeReset()">
Reset 
<i class="material-icons right">clear</i>
</button>
</div>

<div class="row recipe_wrapper">
    {% for recipe in all_recipes %}
    <div class="card col xl4 l6 s6 recipe-display hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator recipe_image_card" src="/static/images/{{ recipe.image }}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 recipes_title">
                <small>Recipe : </small>{{ recipe.recipe_name.upper() }}
                <i class="material-icons right">more_vert</i>
            </span>
            <span class="card-title activator grey-text text-darken-4 recipes_cuisine">
                <small>Cuisine :</small> {{ recipe.cuisine.capitalize() }}
            </span>
            {% for i in rating %}
                {% for u in i %}
                    {% if u["recipe_id"] == recipe.recipe_id %}
                        <p class="rating">RATING : {{ u["AVG(rating)"]|round(1, 'floor') }} / 5 </p>
                    {% endif %}
                {% endfor %}
            {% endfor %}   
            <a href="/view_recipe/{{ recipe.recipe_id }}" class="waves-effect waves-light btn ">View Recipe</a>
            <a href="/quick_add/{{ recipe.recipe_id }}" class="waves-effect blue btn ">Add Recipe</a>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <p>Preparation time: {{ recipe.prep }} mins</p>
            <p>Serves: {{ recipe.serves }} people</p>
            <p>Cooking time: {{ recipe.time }} </p>
            <p>Published by: {{ recipe.name }}</p>
            <p>Published by: {{ recipe.date_entered }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<!--<ul class="pagination">-->
<!--        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>-->
<!--        <li class="active"><a href="#!">1</a></li>-->
<!--        <li class="waves-effect"><a href="/next/{{all_recipes}}">2</a></li>-->
<!--        <li class="waves-effect"><a href="#!">3</a></li>-->
<!--        <li class="waves-effect"><a href="#!">4</a></li>-->
<!--        <li class="waves-effect"><a href="#!">5</a></li>-->
<!--        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>-->
<!--    </ul>-->
{% endblock %}
