{% extends "base.html" %} {% block content %}

<h4 class="page_title">Review <small>{{ recipe.recipe_name}}</small></h4>

<div class="row">
    <form method="POST" enctype="multipart/form-data" class="col s12 review-form">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="review" name="review" class="materialize-textarea validate" required></textarea>
                <label for="review">Let others know what you thought??</label>
            </div>
            <div>
                <p class="range-field col s12" >
                    <placeholder>Rating out of 5?</placeholder>
                    <input class="validate" required type="range" id="rating" name="rating" min="1" max="5" />
                </p>
            </div>
        </div>
        <button id="review-btn" class="btn-small waves-effect waves-light" type="submit" name="action">
            Submit Review
            <i class="material-icons right">send</i>
        </button>
    </form>

</div>


{% endblock %}
