{% extends "base.html" %} 
{% block content %}

<h4 class="page_title">Stats on Recipes</h4>

<div class="row">
    <div class="col s12 m6 l6 xl6 offset-m3">
        <canvas class="graphs" id="CuisinesChart"></canvas>
    </div> 
     <div class="col s12 m6 l6 xl6 offset-m3">
        <canvas class="graphs" id="ServingsChart"></canvas>
    </div> 
    <div class="col s12 m6 l6 xl6 offset-m3">
         <canvas class="graphs" id="PreparationChart"></canvas>
    </div>  
    <div class="col s12 m6 l6 xl6 offset-m3">
         <canvas class="graphs" id="CookingTimeChart"></canvas>
    </div>
</div>
    
    
   
</div>
<p class="test"></p>

{% endblock %}
