{% extends "base.html" %} {% block content %}

<!--<div class="image-wrapper">-->
<!--    <img class="image_view" src="/static/images/{{ recipe.image }}"></img>-->
<!--</div>-->


<div class="recipe_titles">
    <div class="row">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/images/{{ recipe.image}}">
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3>{{ recipe.recipe_name }}</h3>
                        <h5 class="light grey-text text-lighten-3">Enjoy cooking!</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab disabled">Serves : {{ recipe.serves }}</li>
        <li class="tab disabled">Oven tempeture / Gas Mark : {{ recipe.temp }}</li>
        <li class="tab disabled">Cooking time : {{ recipe.time }} <small>mins</small></li>
        <li class="tab disabled">Preparation : {{ recipe.prep }} <small>mins</small></li>
    </ul>
    <div class="row recipe_list">
        <div class="col l4 m12 s12 recipe_ul">
            <h3> Ingredients</h3>
            <ul>
                {% for ingredients in ingredient %}
                <li>
                    <label>
                        <input type="checkbox" />
                        <span>{{ ingredients.ingredient }}</span>
                        </label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col l8 m12 s12 recipe_ul">
            <h3> Method </h3>
            <ul>
                {% for method in methods %}
                <li>
                    <label>
                        <input type="checkbox" />
                        <span>{{ method }}</span>
                        </label>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>
<p><a class="btn-small waves-effect green btn modal-trigger" href="#modal2">Review</a> Review this dish to help others.</p>


{% endblock %}
